.popup__title {
    width: 358px;
    height: 23px;
    margin: 0 0 54px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 0;
}

@media screen and (max-width: 950px) {
    .popup__title {
        width: 238px;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 75px;
    }
}