.profile {
    margin: 40px auto 0;
    display: flex;
    max-width: 880px;
    align-items: center;
}

@media screen and (max-width: 950px) {
    .profile {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 750px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        margin: 42px auto 0;
        padding: 0;
    }
}