.element__delete {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/vedro.svg);
    right: 20px;
    top: 20px;
    cursor: pointer;
    object-fit: contain;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
}

.element__delete:hover {
    opacity: 0.6;
}